<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262930404202-eo4f9f4iff1nvuivqr864fhn0u6ph4ai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262930404202-eo4f9f4iff1nvuivqr864fhn0u6ph4ai</string>
	<key>API_KEY</key>
	<string>AIzaSyBNSEfgZ5PuR3Qsq03wkFOEjVOGvMZws8M</string>
	<key>GCM_SENDER_ID</key>
	<string>262930404202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobile.rechargenow.rechargeNow</string>
	<key>PROJECT_ID</key>
	<string>rechargenow-14b39</string>
	<key>STORAGE_BUCKET</key>
	<string>rechargenow-14b39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262930404202:ios:7ff853073a189e86fa0b13</string>
</dict>
</plist>